.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      - if !session[:user_id]
        .controls.pull-right
          %button.btn.btn-primary.login
            Login
        .controls.pull-right
          %label{:for => "password"}
            Password
          %input#password{:type => "password"}
        .controls.pull-right
          %label{:for => "url"}
            Your URL
          %input#url{:type =>"text"}
      -else
        .controls.pull-right
          %span
            Logged in as 
          %span.label.label-success
            =session[:user_name]
          %button.btn.btn-primary.logout
            Logout
