#index
  #information{:class=>'hero-unit'}
    %h2 About meisseli: </br></br>
    %p.content Tähän kirjoitetaan palvelun kuvaus! Business devaajat nyt saatana sitä sisältöä! </br></br>
    #account{:align=>'center'}
      %button.btn.signupbutton{:value=>'Sign Up!'} Sign Up!
    </br>
    #lolwut{:align=>'center'}
      %p{:style=>'color:#ff9933'} I alreary have an account! Login below!