#index
  %h1 "Your virtual penis aggregator"
  #information{:class=>'hero-unit'}
    #tekstidiv
      %p.content Meisseli is your virtual resumé that assembles all the information of your social media presence.</br>You can use Meisseli as a part of your CV when you want to present your achievements in the social networks.
      %p.content In example if you have a high reputation in Stack Overflow, it tells the viewer you are considered an expert at programming. You should highlight your expertise in the social channels when you're applying for a job.
      %p.content Meisseli is your tool for all these!
      %p.content Don't by a new BMW, just start promoting your virtual penis now!
    #lol.tyhjaatilaa
    #account{:align=>'center'}
      %button.btn.signupbutton{:value=>'Sign Up!'} Create CV
    #lolwut{:align=>'center'}
      %p{:style=>'color:#ff9933'} If you alreary have an account</br>Continue buildin your virtual penis and login below!