!!! 5
%html
  %head
    %title Dibs
    %link{:type => 'text/css', :href => 'css/bootstrap-theme/jquery-ui-1.8.16.custom.css', :rel => 'stylesheet'}
    %link{:type => 'text/css', :href => 'css/bootstrap/bootstrap.css', :rel => 'stylesheet'}
    %link{:type => 'text/css', :href => 'css/styles.css', :rel => 'stylesheet'}
    %script{:src => '/js/libs/require/require.js', :data => {:main => '/js/main'}}
    %script{:src => '/js/libs/handlebars/handlebars.js', :type => 'text/javascript'}
    = haml :templates
  %body
    %header
      = haml :header
    #content.container
      = yield
    %footer
      = haml :footer