#signup
  #content
    .signup-form.well
      %h3 Register to Meisseli
      %label{:for => "url"}
        Your URL
      %input#url{:type =>"text"}
      %label{:for => "password"}
        Password
      %input#password{:type => "password"}
      %label{:for => "password-confirm"}
        Confirm Password
      %input#password-confirm{:type => "password"}
      %label{:for => "first"}
        First Name
      %input#first{:type => "text"}
      %label{:for => "last"}
        Last Name
      %input#last{:type =>"text"}
      %button.btn.btn-primary.btn-large.register Register

      