header h1 {
	margin-bottom: 9px;
	font-size: 81px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

.tile {
	height: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.tile img.bg {
	position: absolute;
	top:0px;
	left:0px;
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=3);
}

.controls {
	margin-right: 10px;
}

.controls .login {
	margin-top: 23px;
}

.signupbutton {
	width:300px;
	height: 65px;
	font-size: 30pt;
}
.content{
	float:right;
	width:95%;
}
.tyhjaatilaa{

	height:350px;
	width:100%;
}
.pienityhja{
	height:30px;
	width:100%;
}
