{{#with data}}
.row.followers
  .span2.data {{followers}}
  .span2.dataTitle Followers

.row.following
  .span2.data {{following}}
  .span2.dataTitle Following
      
.row.repoCount 
  .span2.data {{public_repos}}
  .span2.dataTitle Repositories
%header
  %h1
    %a{:href => '{{html_url}}'}
      {{login}}
{{/with}}