{{#with user}}
.row.followers
  .span2.data {{followers_count}}
  .span2.dataTitle Followers

.row.following
  .span2.data {{following_count}}
  .span2.dataTitle Following
      
.row.repoCount 
  .span2.data {{public_repo_count}}
  .span2.dataTitle Repositories
{{/with}}
%header
  %h1
    %a{:href => 'https://github.com/{{screen_name}}'}
      {{user_name}}
