.row.followers
  .span2.data {{followers_count}}
  .span2.dataTitle Followers


.row.listed
  .span2.data {{listed_count}}
  .span2.dataTitle Listed

%header
  %h1
    %a{:href => 'https://twitter.com/#!/{{screen_name}}'}
      @{{screen_name}}
