%header @{{screen_name}}

.followers
  %p.dataTitle Followers
  %p.data {{followers_count}}

.listed 
  %p.dataTitle Listed
  %p.data {{listed_count}}
      
.statuses 
  %p.dataTitle Status Count
  %p.data {{statuses_count}}

.retweeted 
  %p.dataTitle Retweet Count
  %p.data {{retweet_count}}