.row.followers
  .span2
    %p.data {{followers_count}}
  .span2
    %p.dataTitle Followers


.row.listed
  .span2
    %p.data {{listed_count}}
  .span2
    %p.dataTitle Listed

%header
  %h1 @{{screen_name}}
